* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: rgba(0,128,128,255);
    text-align: center;
    color: white;
    padding: 30px;
h1{
    margin-bottom: 10px;
}
p{
    color: rgba(255, 255, 255, 0.897);
}
}
main{
    background-color: rgba(240,248,255,255);
    padding: 30px;
ul{
    padding: 20px;
}
p{
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}
img{
    margin: 17.5px;
    margin-left: 0;
    border-radius: 5%;
}
}
h2{
    color: rgba(0,128,128,255);
}